{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'shop:home' %}">Accueil<span>—></span></a>
                    <a href="{% url 'accounts:login' %}">Login</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="login">
                    <div class="hover">
                        <h4>Créer un compte?</h4>
                        <p>2mn suffisent ..</p>
                        <a class="primary-btn" href="{% url 'accounts:register' %}">S'enregistrer</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Mot de passe oublié</h3>

                    <form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            {{form.email}}
                            <div class='error text-danger'>{{form.email.errors}}</div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Créer un nouveau</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}