{% extends "base.html" %}


{% load static %}

{% block title %}Réinitialisation mot de passe{% endblock %}
{% block content %}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'shop:home' %}">Accueil<span>—></span></a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                    <div class="hover">
                        <h4>Pas de compte?</h4>
                        <p>Enregistrez vous en quelques clics</p>
                        <a class="primary-btn" href="{% url 'accounts:register' %}">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <p>Il semble que la page a besoin d'être rafraichie...</p>

                    <p><a href="{% url 'accounts:login' %}">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}