{% extends 'base.html' %}
{% load admin_urls %}
{% block content %}
<div class="container">
    <div class="jumbotron text-center mt-5">
        <h1 class="text-danger">Le paiement a échoué</h1>
        <p>Il s'agit probablement d'une erreur interne. Un message d'erreur a été envoyé à l'administrateur.
             <button class="clear-cart" onclick="myFunction()">Retour à l'accueil</button>.
        </p>
    </div>
</div>
{% endblock content %}


{% block javascript %}
<script>
    function myFunction(){
        localStorage.clear()
        location.reload()
        return 'https://trailingcoin.com';
    }
</script>
{% endblock javascript %}